<p id="notice"><%= notice %></p>

<h1>Task list</h1>

<table class="task_table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td>
          <div class="<%= task.done?.downcase %>">
            <%= task.done? %>
          </div>
        </td>
        <td>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field(:done, :value => !task.done) %>
            <%= f.submit "Set #{task.done?(true)}" %>
          <% end %></td>
        <td>
          <div class="delete_button">
            <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= link_to 'New Task', new_task_path %></center>
